.profile_page{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 2px rgb(233, 236, 238);
}
.profile_page .col-left{
    max-width: 400px;
    min-width: 300px;
    padding: 0 10px;
    margin: auto;
    border-right: blue;
}

.profile_page .col-left .avatar{
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin: 15px auto;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
}
.profile_page .col-left img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.profile_page .col-left .avatar span{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background: #fff8;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(255, 140, 45);
    transition: 0.3s ease-in-out;
}
.profile_page .col-left .avatar:hover span{
    bottom: -15%;
}
.profile_page .col-left #file_up{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.profile_page .col-left h2{
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #333;
    margin: 10px 0;
}

.profile_page .col-left2 h2{
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: rgb(31, 7, 59);
    margin: 10px 0;
}
.profile_page .col-left label{
    display: block;
    margin-top: 5px;
}
.profile_page .col-left input{
    width: 100%;
    height: 40px;
    margin: 5px 0;
    border: none;
    outline: none;
    background: rgb(245, 228, 219);
    padding: 0 5px;
}

.profile_page .col-left2 input{
    width: 100%;
    height: 40px;
    margin: 5px 0;
    border: none;
    outline: none;
    background: rgb(188, 255, 191);
    padding: 0 5px;
}
.profile_page .col-left button{
    background: #333;
    color: white;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 10px 0;
}

.profile_page .col-left2 button{
    background-color: white; 
    color: black; 
    border: 2px solid #f0071a;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 10px 0px;
}
.profile_page .col-left2 button:hover {
    background-color: #f72c2c;
    color: white;
  }

  .profile_page .col-left20 button{
    background-color: white; 
    color: black; 
    border: 2px solid #5907f0;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 10px 0px;
    flex-direction: column;
}
.profile_page .col-left20 button:hover {
    background-color: #070861;
    color: white;
  }

  .profile_page .col-left12 button{
    background-color: white; 
    color: black; 
    border: 2px solid #09cc4a;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 10px 0px;
}
.profile_page .col-left12 button:hover {
    background-color: #0cbe0c;
    color: white;
  }


.profile_page .col-left3 button{
    background: rgb(6, 165, 20);
    color: white;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 10px 0;
}

.profile_page .col-left5 button{
    background: rgb(6, 165, 20);
    color: white;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 10px 0;
}


.profile_page .col-left6 button{
    background: rgb(122, 122, 122);
    color: white;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin: 5px 0;
}
.profile_page .col-left6 button:hover {
    background-color: #15bee9;
    color: rgb(20, 17, 17);
  }
 .davet {
    width: 100%;
  
    border: 3px solid rgb(97, 46, 218);
  }

  .davet2 {
 
  align-items: center;
  padding:auto;
  margin-right: 38%;
  margin-left: 38%;
  border-bottom:  5p rgba(15, 230, 238, 0.533);
    border: 3px solid rgb(1, 22, 24);
  }

.div1 {

    float: right;
  }

  .div3 {
color:none;
    align-content: center;
  }



/* ----------- Col Right----------- */
.profile_page .col-right{
    padding: 0 10px;
    flex: 1;
    min-width: 300px;
}
.profile_page .col-right h2{
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #333;
    margin: 10px 0;
}


.profile_page .report1{
    font-size: 1.7rem;
   width: 100%;
   border-color: black;
   border-radius: 0.5%;
}

/* ------------ Table------------ */
.customers{
    border-collapse: collapse;
    width: 100%;
}
.customers td,
.customers th{
    border: 1px solid rgb(193, 222, 245);
    padding: 8px;
    min-width: 100px;
}
.customers tr:nth-child(even){
    background: #e7e6e6;
}
.customers th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #555;
    color: white;
}
.customers i{
    cursor: pointer;
}





.customers2{
    border-collapse: collapse;
    width: 100%;
    color: #070707;
}
.customers2 td{
    background: rgb(253, 252, 252);
    border: 1px solid rgb(13, 122, 194);
    padding: 8px;
}
.customers2 th{
    border: 1px solid rgb(8, 95, 153);
    padding: 8px;
    min-width: 100px;


}
.customers2 tr:nth-child(even){
    background: #fdfdfd;
    color: #0c0c0c;
}
.customers2 th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: rgb(252, 248, 248);
    color: rgb(17, 17, 17);
}
.customers2 i{
    cursor: pointer;
}





.customers .fa-check{
    color: green;
}
.customers .fa-times{
    color: red;
}
.customers .fa-edit{
    background: whitesmoke;
    padding: 7px;
    color: #555;
    font-size: 10px;
}
.customers .fa-trash-alt{
    background: red;
    padding: 7px;
    color: white;
    font-size: 10px;
    margin-left: 7px;
}


/* -------------- Edit User ----------------- */
.edit_user .go_back{
    background: white;
    padding: 7px;
    margin: 20px;
    font-size: 1.2rem;
}
.edit_user .col-left{
    margin-top: 50px;
}
.edit_user .col-left input{
    background: rgb(189, 215, 240);
}
.edit_user .col-left #isAdmin{
    width: 20px;
    height: 20px;
    transform: translateY(3px);
    margin: 10px 0;
}
.edit_user .col-left #isAdmin + label{
    display: inline-block;
    margin-left: 5px;
}


/*----------------------------------cart css --------------------------*/


.shopping-cart{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.shopping-cart.dark{
	background-color: #f6f6f6;
}

.shopping-cart .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.shopping-cart .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.shopping-cart .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.shopping-cart .dark .block-heading p{
	opacity:0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
	margin-bottom:1.2rem;
	color: #3b6fe0;
}

.shopping-cart .items{
	margin: auto;
}

.shopping-cart .items .product{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .items .product .info{
	padding-top: 0px;
	text-align: center;
}

.shopping-cart .items .product .info .product-name{
	font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info{
	font-size: 14px;
	margin-top: 15px;
}

.shopping-cart .items .product .info .product-name .product-info .value{
	font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input{
    margin: auto;
    width: 80px;
}

.shopping-cart .items .product .info .price{
	margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
 }

.shopping-cart .summary{
	border-top: 2px solid #4094f5;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}




.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}

.shopping-cart .summary button{
	margin-top: 20px;
}

@media (min-width: 768px) {
	.shopping-cart .items .product .info {
		padding-top: 25px;
		text-align: left; 
	}

	.shopping-cart .items .product .info .price {
		font-weight: bold;
		font-size: 22px;
		top: 17px; 
	}

	.shopping-cart .items .product .info .quantity {
		text-align: center; 
	}
	.shopping-cart .items .product .info .quantity .quantity-input {
		padding: 4px 10px;
		text-align: center; 
	}
}


.bac1 {
                width: 50%;
                background-color: rgb(205, 210, 214);
            }

 .bac2 {
                width: 50%;
                background-color: rgb(63, 65, 66);
                color: #f2f2f2;
            }
        
            #search{
                padding:5px;
                float: right;
                  
                /* The size of the font that will be appearing 
                in the search box when the user will try to 
                search something */
                font-size:17px;
                  
                /* The border of the search box has a width
                of 2px and the type of the border is solid.
                The color of the border will be grey */
                border:2px solid grey;
                  
                /* We will use a border-radius to make the 
                search box give a better looking shape than 
                rectangular shape */  
                border-radius:9px;
            }

            .btn{
                padding:10px 20px;
                margin:0px 0;
                float: right;
                  
                /* The radius of the border will have a width of 
                2px and the type of border will be solid. The 
                border will have a border of white depending on 
                what type of image we have used as background */
                border:3px solid rgb(141, 141, 141);
                  
                /* Here we have used border-radius to make 
                the search button appear better */
                border-radius:8px;
                  
                /* To make the button have the color 
                of background */
                background:none;
                  
                /* To make the text of the button have 
                the color of white */  
                color:rgb(67, 81, 88);
                cursor:pointer;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 16px;
            }
                  
            .btn-sm{
                padding:6px 10px;
                vertical-align: middle;
              
            }

            hr.class-2 {
                border-top: 3px double #8c8b8b;
            }

            .page {
                width: 210mm;
                min-height: 297mm;
                padding: 20mm;
                margin: 10mm auto;
                border: 5px #f30909 solid;
                border-radius: 5px;
                background: white;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }

            @page {
                size: A4;
                margin: 0;
            }
            @media print {
                html, body {
                    width: 210mm;
                    height: 297mm;        
                }}

                .kc_fab_main_btn {
                    background-color: #F44336;
                    width: auto;
                    height: 60px;
                    border-radius: 25%;
                    background: #F44336;
                    border:#555;
                    outline:#333;
                    color: rgb(252, 246, 246);
                    font-size: 16px;
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                    transition: .3s;
                    padding: 5px 15px;
                    text-transform: uppercase;
                    letter-spacing: 0px;
                    margin: 5px 0;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                  }
                  
                  .kc_fab_main_btn:focus {
                    transform: scale(1.1);
                    transform: rotate(10deg);
                    -ms-transform: rotate(10deg);
                    -webkit-transform: rotate(10deg);
                  }


.html1{
    position: relative;
    max-width: 700px;
    max-height: 700px;
   
}

.column {
    float: left;
    width: 60%, 40%;
    background-color: #eff0f0;
  }
  
  /* Clear floats after the columns */
  .rowf:after {
    content: "";
    display: table;
    clear: both;
  }

  .aboutStyle{

    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 3px #026b7e solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }


  .serviceStyleHome{

    width: 310mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 2px #92e3f1 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
         
  .profile_page .col-left20 button{
    background-color: white; 
    color: black; 
    border: 2px solid #5907f0;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 10px 0px;
    flex-direction: column;
}

.profile_page .col-left21 button{
    background-color: white; 
    color: black; 
    border: 2px solid #e99898;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 10px 0px;
    flex-direction: column;
}

.profile_page .col-left21 button:hover {
    background-color: #121312;
    color: white;
  }

 .cart_page .button {
    background-color: #4c6baf; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .cart_page .button1 {width: 250px;}




  /*side show */
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .center {
      background-color: rgb(39, 38, 38);
    margin-left: auto;
    margin-right: auto;
    padding-top: 10cm;
    color: rgb(245, 244, 243);
  }