header{
    width: 100%;
    min-height: 50px;
    background: #282c34;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5 30px;
}
header a{
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: inline-block;
    padding: 0px 11px;
  position: relative;
}

header a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    color: indianred;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
    color: greenyellow;
  }

header ul li{
    display: inline-block;
    padding: 10px 20px;
    opacity: 0.7;
}
header ul li:hover{
    opacity: 1;
}

header ul li img{
    width: 30px;
    height: 30px;
    transform: translateY(10px);
    border-radius: 50%;
}

/* --------- Dropdown ---------- */
.drop-nav{
    position: relative;
    padding: 10px 0;
}
.drop-nav a{
    text-transform: capitalize;
    overflow: hidden;
}
.drop-nav .dropdown{
    position: absolute;
    background: #282c34;
    width: 100%;
    width: calc(100% + 30px);
    top: 50px;
    display: none;
}
.drop-nav .dropdown li{
    display: block;
}
.drop-nav:hover .dropdown{
    display: block;
}

 .headerName{
    color: goldenrod;
}
